# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript cache
*.tsbuildinfo

# Native / keys / certs
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# If you generate native folders at repo root (optional)
ios/
android/
